/* Hide scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: none;
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  