.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    scrollbar-width: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  